    <title>
    <%-config.title %>
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="<%- config.root %>css/mic_main.css" />
    <link rel="stylesheet" href="<%- config.root %>css/dropdownMenu.css" />
    <meta name="keywords" content="<%- theme.head.keywords %>" />
    <% if (theme.busuanzi.enable === true ) {%>
    	<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
	 <% } %>
    <noscript>
        <link rel="stylesheet" href="<%- config.root %>css/noscript.css" />
    </noscript>
    <div class="back"></div>
    <style type="text/css">
        .back {
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-position: center 0;
          background-repeat: no-repeat;
          background-size: cover;
        }
    </style>
    <script>
      let url = `<%- config.root %>img/${Math.floor((new Date().getMinutes() + 1) / 2)}.jpg`
      var back = document.querySelector('.back')
      back.style.backgroundImage = `url(${url})`
    </script>
